body {
  width: 100%;
}

.header{
  text-align: right;
  position: fixed;
  height: 40px;
  width: 100%;
}
*:focus{
  outline: none;
}

.header a {
  margin-right: 20px;
}

a {
  color: grey;
  text-decoration: none;
  font-size: 15px;
}

a:visited {
   color: grey
}

a:hover{
  text-decoration: underline;
}

.main{
  top: 150px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  position: absolute;
}

.main img{
  margin-left: 25%;
  width: 50%;
  margin-right: 25%;
  height: auto;
}

.searchField{
  width: 100%;
  font-size: 20px;
  border: 1px solid #D8D8D8;
}

.searchField:hover{
  border: 1px solid #B2B2B2;
}
.searchField:focus{
  border: 1px solid #488EF1;
}
.button{
  margin-top: 25px;
  margin-left: 20%;
  display: inline-block;
  background-color: #F4F4F4;
  width: 150px;
  font: verdana 10px;
  border: 1px solid #D3d3d3;
  text-align: center;
  font-weight: bold;
  cursor: default;
  padding: 8px;
}

.button:hover{
  border-bottom-width: 2px;
}
